.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.main-body {
  height: 100%;
  width: 100%;
}

/** --------------------------- Login Screen Start --------------------------------------- */

.login {
}

.login .main-row {
  height: 700px;
}

.login .main-row .left-col {
  align-items: center;
  background-image: linear-gradient(#387de4, #adc8ec);
}

.login .main-row .left-col .title-container {
  text-align: center;
  margin-top: 50px;
}

.login .main-row .left-col .title-container .title {
  font-size: 60px;
  font-weight: bold;
}

.login .main-row .left-col .title-container .description {
  font-size: 30px;
  font-weight: 500;
}

.login .main-row .right-col {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #b4cff328;
}

.login .main-row .right-col .welcome-container {
  margin-top: 50px;
}

.login .main-row .right-col .login-text {
  font-size: 20px;
  font-weight: 600;
}

.login .main-row .form-container {
  justify-content: left;
}

.modal-bg {
  position: absolute !important;
  width: 25% !important;
  z-index: 9999 !important;
  height: 100px !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.app-header {
  background-image: linear-gradient(#387de4, #4e6583) !important;
  justify-content: flex-end;
  align-items: center;
  display: flex !important;
}

.app-header-lang {
  justify-content: flex-end;
  align-items: center;
  display: flex !important;
  background-color: transparent;
  position: absolute;
}

.header-button {
  background-color: transparent !important;
  color: white !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  border: 0 !important;
}

.lang-button {
  background-color: transparent !important;
  color: black !important;
  font-weight: bold !important;
  font-size: 16px !important;
  border: 0 !important;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
